*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
main {
  background-color: #ffcd9e;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1080px;
  margin: 0 auto;
}

.info {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  width: 80%;
  align-items: flex-start;
  margin: 0 1rem;
}

.input-group {
  display: flex;
  gap: 10px;
}
span {
  color: white;
  font-size: small;
}

input {
  padding: 0.5rem 1rem;
  outline: 0;
  border: 3px black solid;
  border-radius: 5px;
}

button {
  color: white;
  background-color: black;
  padding: 0.5rem 2rem;
  outline: 0;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background-color: black;
  padding: 2rem;
  color: white;
}
.footerContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.footerContainer > section {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.footerContainer > section:nth-child(2) {
  text-align: right;
}
