*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
main {
  background-color: #ffcd9e;
}

.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1080px;
  width: 90%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  width: 80%;
  align-items: flex-start;
  margin: 0 1rem;
}

.input-group {
  display: flex;
  gap: 10px;
}
span {
  color: white;
  font-size: small;
}

input {
  padding: 0.5rem 1rem;
  outline: 0;
  border: 3px black solid;
  border-radius: 5px;
}

button {
  color: white;
  background-color: black;
  padding: 0.5rem 2rem;
  outline: 0;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background-color: black;
  padding: 2rem;
  color: white;
}
.footerContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.footerContainer > section {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.footerContainer > section:nth-child(2) {
  text-align: right;
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .container > img {
    max-width: 350px;
  }
  .info {
    gap: 1rem;
  }
}

@media screen and (min-width: 551px) and (max-width: 767px) {
  .container > img {
    max-width: 300px;
  }
  .input-group {
    flex-direction: column;
  }
}
@media screen and (min-width: 0px) and (max-width: 550px) {
  .container {
    flex-direction: column;
  }
  .container > img {
    max-width: 80vw;
  }
  .input-group {
    flex-direction: column;
  }
}
